.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 48px 0;
  margin: 0 auto;
  max-width: 1280px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding-top: 48px;
    }
}

@media screen and (max-width: 768px) {
  .lead {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    padding-left: 16px;
    padding-right: 16px;
  }
}
