.lead__image {
  max-width: 984px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/10;
  margin-top: 64px;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: calc(100% + 2*24px);
  }
}

@media screen and (max-width: 425px) {
  .lead__image {
    margin-top: 40px;
    width: calc(100% + 2*16px);
  }
}