.cover {
  max-width: 1184px;
  width: 100%;
  margin: 92px auto 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin-top: 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin-top: 66px;
  }
}